<div class="rc-sheet" id="rc-resources">

    <div class="container">

        <a href="javascript:void(0)" ui-sref="splash" class="rc-home"></a>
        <a href="javascript:void(0)" rc-nav="-1" class="rc-back"></a>
        <a href="javascript:void(0)" rc-nav="1" class="rc-next"></a>
        
        <div class="content"> 

            <div class="header">
                <h1>resources</h1>
                <span class="subtitle">languages, frameworks, and tools i use</span>
                <div class="search">
                    <input type="text" ng-model="filter" placeholder="filter keywords"/>
                </div>
            </div>

            <div class="lists">
                <ul class="rc-resource-list" ng-repeat="category in model">
                    <li class="title" ng-class="{disabled: !items.length}">{{category.category}}</li>
                    <li ng-repeat="item in items = (category.items | filter: filter)" class="animate-list">
                        <span class="level">
                            <span style="width: {{item.level/10*100}}%; background:{{heatMap[item.level-1]}}"></span>
                        </span>
                        {{item.name}}
                        <div style="font-size:0.8em" ng-show="filter.length && item.keywords.length"><strong>tags:</strong> <em>{{item.keywords}}</em></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
