@import url(https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans);

@mixin multibrowser($prop, $val) {
    -webkit-#{$prop}: $val;
    -moz-#{$prop}: $val;
    -ms-#{$prop}: $val;
    -o-#{$prop}: $val;
    #{$prop}: $val;
}

$headingFont: 'PT Mono', monaco, sans-serif;
$font: 'PT Sans', sans-serif;

body{
    margin:0;
    padding:0;
    font-size:1em;
    background:#2A3A50 url('img/rc-graph-bg.png');
    color:#fff;
    font-family:$font;
    width:100vw;
    min-width:720px;
    height:100vh;
    min-height:500px;
    overflow: hidden;
    @include multibrowser(transition, all 1s);
}

a{
    color: #000;
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headingFont;
    font-weight:normal;
}

#rc-view{
    position: relative;
    height: 100vh;
}

#rc-bg-shiner{
    display: block;
    height: 40vh;
    position: fixed;
    background: rgba(255,255,255,0.1);
    bottom: -20px;
    left: -100px;
    right: -100px;
    @include multibrowser(transform, rotateZ(-16deg));
    &:after{
        content: '';
        height: 130vh;
        position: fixed;
        background: rgba(255,255,255,0.05);
        bottom: -20px;
        left: -100px;
        right: -100px;
        @include multibrowser(transform, rotateZ(-104deg));
    }
}

.rc-sheet{
    background: #fbfbfb;
    margin: auto;
    width: 90%;
    max-width: 650px;
    min-height:400px;
    box-shadow: 0 -29px 30px -16px rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    color:#555;
    font-size:0.9em;

    .content{
        .header{
            background: -webkit-linear-gradient(bottom, #eee, #fefefe);
            padding: 15px;
            position:relative;
            display:block;
        }
        h1{ margin:0; }
        .subtitle{
            color:#888;
            .hire-me{
                color:#bbb;
                font-style:italic;
            }
        }

    }
}

#rc-resources{
    top: 50%;
    margin-top: -216px;
    .search{
        position: absolute;
        right: 0;
        top: 0;
        width: 260px;
        bottom: 0;
        background: -webkit-linear-gradient(top, #F7F7F7, #DCDCDC);
        input{
            background: #fff;
            border: 0;
            border-radius: 50px;
            width: 90%;
            margin: auto;
            display: block;
            height: 35px;
            position: absolute;
            top: 50%;
            margin-top: -18px;
            left: 0;
            right: 0;
            box-shadow: 0 2px 0 rgba(0,0,0,0.1);
            padding: 16px;
            font-size: 1em;
            font-family: 'PT Mono';
            color: #777;
            text-transform: lowercase;
            outline-width: 0;
        }
    }
    .lists{
        text-align: center;
        display: flex;
        display: -webkit-flex;
        padding: 0 8px;
    }
    .rc-resource-list{
        list-style-type: none;
        padding: 20px 7px;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        width: 33%;
        li{
            text-align: left;
            margin: 5px 0;
            color: #777;
            &.title{
                &.disabled {
                    opacity: 0.4;
                }
                font-family: $headingFont;
                font-weight: bold;
                padding-bottom: 15px;
                border-bottom: dashed 1px #ddd;
                margin: 0 0 15px!important;
                text-align: left!important;
                color: #555!important;
            }
            .level{
                vertical-align:middle; 
                display:inline-block;
                width:60px; 
                height:10px;
                background:#eee;
                span{
                    display:block;
                    height:100%;
                    box-shadow: inset -2px 0px 0 rgba(0,0,0,0.1);
                }
            }
        }
    }
}

#rc-recent{

    top: 50%;
        margin-top: -217px;
    height: 435px;
    a{
        color: #9D56E8;
    }

    .container{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display:flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .content{
            display: inline-block;
            width: 60%;
            .project-title{
                margin: 10px 15px 0;
                font-size: 1.4em;
                border-bottom: dashed 1px #ddd;
                padding: 0 0 10px;
                font-family: $font;
                font-weight: bold;
                display:block;
                background-size: 20px;
                position:relative;
                &:before{
                    content: '';
                    display:inline-block;
                    vertical-align:middle;
                    background: url('img/lr-icon.png') center no-repeat;
                    width: 20px;
                    height: 20px;
                    background-size: auto 100%;
                    margin-right: 10px;
                    position: absolute;
                    right: 15px;
                    top: 3px;
                }
                &:after{
                    background: url(img/apple-icon.png) center no-repeat;
                    background-size: 100%;
                    content: '';
                    display:block;
                    width: 20px;
                    height: 20px;
                    opacity: .5;
                    margin: 0 0 0 3px;
                    position: absolute;
                    right: 0px;
                    top: 2px;
                }
            }
            p{
                padding:0 15px;
            }
            .stack{
                list-style-type: none;
                padding: 10px 0;
                border-top:dashed 1px #ddd; 
                    padding: 10px 15px;
                li{
                        font-size: .8em;
    color: #fff;
    background: #9D56E8;
    border-radius: 5px;
    padding: 2px 7px;
    display: inline-block;
    margin: 2px;
    border-bottom: solid 2px #7C32CC;
    text-shadow: 0 2px #7C32CC;
                }
            }
        }
        .screenshot{
            display:inline-block;
            vertical-align:top;
            width:40%;
            height:100%;
            background-position: top center;
            background-size:cover;
            display: flex;
            display:-webkit-flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

    }
}

#rc-profile {

    top: 50%;
    margin-top:-200px;
    height:412px;
    a{
        color: #639C1B;
    }

    .container{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display:flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .content{
            display: inline-block;
            width: 60%;
            .find-me{
                margin: 10px 15px 0;
                font-size: 1em;
                border-bottom: dashed 1px #ddd;
                padding: 0 0 10px;
            }
            p{
                padding:0 15px;
            }
        }
        .profile-pic{
            display:inline-block;
            vertical-align:top;
            width:40%;
            height:100%;
            background-position: bottom center;
            background-size: 100% auto;;
            display: flex;
            display:-webkit-flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

    }
}

#rc-splash{
    position:relative;
    width:100%;
    height:100%;
}
#rc-main-header{
    text-align:center;
    position:absolute;
    top: 50%;
    left:0; right:0;
    margin-top:-88px;

    .title, .subtitle{
        margin: 0;
    }

    .title{
        font-size:3em;
    }

    .subtitle{
        font-weight: lighter;
        color: #8DD4FF;
        font-size: 1.1em;
        font-family:$font;
    }
}

#rc-cube-container{
    perspective: 200px;
    perspective-origin: 50% 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: -130px;
    .cube{
        width: 100px;
        height: 100px;
        position: relative;
        transform-style: preserve-3d;
        margin: auto;
        @include multibrowser(animation-name, cubeSpinner);
        @include multibrowser(animation-timing-function, linear);
        @include multibrowser(animation-duration, 10s);
        @include multibrowser(animation-iteration-count, infinite);
        .face{
            display: block;
            width: 100px;
            height: 100px;
            position: absolute;
            border-radius: 100%;
            box-shadow: 0 0 54px rgba(0,0,0,0.6);
            background: rgba(16, 130, 200, 0.76);
            box-shadow: inset 0 0 0 10px #FFFFFF;
            &.a{
                transform: rotateY(135deg);
            }
            &.b{
                transform: rotateY(45deg);
            }
            &.c{
                transform: rotateY(90deg);
            }
            &.d{
                z-index: -1;
            }
        }
    }
}

#rc-splash-nav{
    text-align: center;
    position: absolute;
    bottom: -90px;
    left: 0;
    right: 0;
    font-family: $headingFont;

    ul{
        display: inline-block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: solid 2px #82CDFA;
        border-radius: 4px;
        li:nth-child(2) {
            border: solid 2px #82CDFA;
            border-width: 0 2px;
        }
        li{
            cursor: pointer;
            display: inline-block;
            padding: 16px;
            width: 100px;
            text-align: center;
            cursor: pointer;
            @include multibrowser(transition, all 0.15s);
        }
        li:hover{
            background: rgba(255,255,255,0.1);
        }
    }
}

#rc-footer{
    position:absolute;
    bottom:0;
    left:0; right:0;
    text-align:center;
    padding: 30px 0;
}

.rc-icon-github{
    display:inline-block;
    background: url('img/github.png') no-repeat;
    background-size:100%;
    width:35px;
    height:35px;
    opacity:0.5;
    @include multibrowser(transition, all 0.15s);
    &:hover{
        opacity:1;
    }
}

.rc-icon-download{
    &:after{
        background: url(img/download.png) center no-repeat;
        background-size: 100%;
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        opacity: 0.5;
        margin: 0 0 0 3px;
    }
}

.rc-home{
    position:absolute;
    left:50%;
    top: -60px;
    width: 60px;
    height:60px;
    margin-left:-30px;
    display:block;
    background:url('img/home.png') no-repeat center;
    background-size:50%;
    @include multibrowser(transition, all .3s linear);
    &:hover{
        background-position: center top;
    }
}

.rc-back{
    position:absolute;
    left:-60px;
    top: 0;
    width: 60px;
    height:80px;
    display:block;
    background:url('img/back.png') no-repeat center;
    background-size:50%;
    @include multibrowser(transition, all .3s linear);
    &:hover{
        background-position: left center;
    }
}

.rc-next{
    position:absolute;
    right:-60px;
    top: 0;
    width: 60px;
    height:80px;
    display:block;
    background:url('img/next.png') no-repeat center;
    background-size:50%;
    @include multibrowser(transition, all .3s linear);
    &:hover{
        background-position: right center;
    }
}

@keyframes cubeSpinner{
    from{ transform: rotatex(75deg) rotatey(0deg) }
    to{ transform: rotatex(75deg) rotatey(360deg) }
}
@-webkit-keyframes cubeSpinner{
    from{ transform: rotatex(75deg) rotatey(0deg) }
    to{ transform: rotatex(75deg) rotatey(360deg) }
}
